
.three-four .panel-row {
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
}

.three-four .panel-row .slot {
  margin-right: 1px;
  float: left;
}

.three-four .panel-row .slot {

}

.three-four .panel-three .slot {
  width: 33%;
}

.three-four .panel-three .slot-x2 {
  width: 66%;
}

.three-four .panel-three .slot-x3 {
  width: 99%;
}

.three-four .panel-four .slot {
  width: 24.7%;
}

.three-four .panel-four .slot-x2 {
  width: 49.4%;
}

.three-four .panel-four .slot-x3 {
  width: 74.1%;
}

.three-four .panel-four .slot-x4 {
  width: 99%;
}

.three-four .panel-three .panel-middle.skip-left {
  margin-left: 33%;
}

.three-four .panel-three .panel-right.skip-left  {
  margin-left: 66%;
}

.three-four .panel-four .panel-second.skip-left {
  margin-left: 24.7%;
}

.three-four .panel-four .panel-third.skip-left {
  margin-left: 49.4%;
}

.three-four .panel-four .panel-fourth.skip-left {
  margin-left: 74.1%;
}